.dynamic-form {
  /* box-shadow: 2px 6px 8px grey; */
    margin-bottom: 5px;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    max-width: 300px;
    text-align: center;
}
.dynamic-form .form-group {
    padding: .5em;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

    
.dynamic-form .form-label {
    margin-left:10px;
    text-align: left;
    color: #1b1e2e;
}
.dynamic-form .form-input{
    margin-top: 12px;
    margin-left: 10px;
    line-height: 1.5em;
    width: 150px;
    text-align: center;
    
}

.dynamic-form select{
    margin-top: 5px;
    line-height: 1.5em;
}

.dynamic-form .form-group button{
  
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 12pt;
    white-space: nowrap;
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 120px;
    height: 40px;
    background: #1b1e2e;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
}

.dynamic-form .form-group-radio {
    display: flex;
    flex-direction: row;
}

.dynamic-form .form-group-checkbox {
    display: flex;
    flex-direction: row;
}
.form-title {
    text-align: left;
}

.form-actions {
    display: flex;
}
