* {
    box-sizing: border-box;
}

.alignright {
    display: flex;
    justify-content: flex-end;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

h3 {
    font-family: "Lato", sans-serif;
}