:root {
  /*// Color */
  --color-white: #ffffff;
  --color-black: #140a00;
  --color-dark-blue: #1b1e2e;
  --color-light-grey: #eeeeee;

  /*// Box Size */
  --margin: 20px;
  --border-width: 1px;
  --border-radius: 5px;
  --padding-large: 50px;
  --padding-medium: 20px;
  --padding-small: 5px;

  /*// Font Size */
  --font-large: 18px;
  --font-medium: 15px;
  --font-small: 12px;
  --font-micro: 10px;

  /*// Font Type */
  --font-primary: "Lato", sans-serif;
  --font-second: "LEMON MILK", sans-serif;
}

.main_first {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--color-light-grey);
}

.sub_title1 {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 15pt;
  color: #1b1e2e;
  position: absolute;
  top: 32%;
  left: 10%;
}

.main_title {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 35pt;
  color: black;
  position: absolute;
  top: 40%;
  left: 10%;
}

.sub_title2 {
  top: 62%;
  left: 10%;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  position: absolute;
}

.image1 {
  height: 300px;
  text-align: right;
  position: relative;
  left: 71%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 15pt;
  white-space: nowrap;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 77%;
  left: 10%;
  width: 225px;
  height: 55px;
  background: #1b1e2e;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.about {
  height: 100vh;
  background-color: #f7f7f7;
}



.mySwiper {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: -1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.zindex {
  z-index: 999;
  position: absolute;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #1b1e2e !important;
}

.swiper-button-prev {
  color: #1b1e2e !important;
}

.swiper-button-next {
  color: #1b1e2e !important;
}

.quizquiz {
  /* width: 24%; */
  padding-left: 38%;
  padding-right: 38%;
  padding-top: 15px;
  position: absolute;
}

.creditcredit {
  /* width: 26%; */
  padding-left: 37%;
  padding-right: 37%;
  padding-top: 30px;
  position: absolute;
}

.chatchat {
  /* width: 28%; */
  padding-left: 36%;
  padding-right: 36%;
  padding-top: 35px;
  position: absolute;
}

.service_title {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 30pt;
  color: black;
  text-align: center;
  margin-top: 50px;
}

.quizquiz_sub {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 20pt;
  color: #1b1e2e;
  text-align: center;
  margin-top: 280px;
  margin-top: 22.5%;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.quizquiz_exp {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13pt;
  color: #1b1e2e;
  text-align: center;
  /* margin-top: 20px; */
  margin-top: 26.5%;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.chatchat_sub {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 20pt;
  color: #1b1e2e;
  text-align: center;
  margin-top: 22.5%;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.chatchat_exp {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13pt;
  color: #1b1e2e;
  text-align: center;
  margin-top: 26.5%;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  
}

.creditcredit_sub {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 20pt;
  color: #1b1e2e;
  text-align: center;
  /* margin-top: 285px; */
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 22.5%;
}

.creditcredit_exp {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13pt;
  color: #1b1e2e;
  text-align: center;
  margin-top: 26.5%;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}