.table_setting2 {
    width: 150%;
    border: 0px;
    margin-left: 25%;
    margin-right: 25%;
    border-spacing: 0px 25px;
}

.start_button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 12pt;
    white-space: nowrap;
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 135px;
    height: 40px;
    background: #1b1e2e;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
}

.error {
    width: 300px;
    padding-bottom: 10px;
    padding-top: 55px;
}

.error2 {
    margin-left: 75px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
}