.table_settingsetting {
    width: calc(100vw - 200px);
    padding-left: 50px;
    margin-left: 0;
    margin-top: 20px;
}

.profile_info {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    padding-left: 50px;
}

.profile_name {
    font-size: 22pt;
    font-weight: bold;
    padding-bottom: 15px;
}

.level {
    font-size: 13pt;
    /* padding-top: 10px; */
}

.levels_nubjuk {
    /* margin-top: 5px; */
    margin-bottom: 7px;
    margin-left: 20px;
}

.levels_nubjuk1 {
    /* margin-top: 5px; */
    /* margin-bottom: 7px; */
    margin-left: 20px;
}

.level_description {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 9pt;
    padding-left: 10px;
    padding-bottom: 10px;
}

.error3 {
    width: 300px;
    padding-bottom: 10px;
    padding-top: 120px;
}

.error4 {
    margin-left: 375px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
}