.waiting_main_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 25pt;
    color: black;
    text-align: center;
    margin-top: 130px;
}

.waiting_description_align {
    text-align: center;
}

.waiting_description {
    font-family: "Lato", sans-serif;
    text-align: left;
    display: inline-block;
    font-size: 13pt;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-top: 35px;
}

.button4 {
    /* position: absolute; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 12pt;
    white-space: nowrap;
    text-align: center;
    font-family: "Lato", sans-serif;
    height: 45px;
    margin-left: 43%;
    margin-right: 43%;
    margin-top: 40px;
    width: 14%;
    background: #1b1e2e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .waiting_number {
    font-family: "Lato", sans-serif;
    font-size: 17pt;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-top: 40px;
  }

  .question_title12{
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    text-align: left;
    padding-bottom: 10px;
    vertical-align: bottom;
    width: 85%;
  }
  .mini_explanation{
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    padding: 0;
    vertical-align: bottom;
    height: 20px;
  }
  .nopadding{
      padding:0;
      vertical-align: bottom;
      height: 20px;
  }
  .checkboxQuiz{
      padding:0;
      vertical-align: bottom;
      height: 10px;
  }
  .quizTable{
      border: 0px;
      border-bottom: 2px solid #1b1e2e;
      width: 80%;
      margin-lefT: 10%; 
      height: 15px;
  }

  .radioform{
    font-size: 40pt;
  }
  .centerAlign{
      margin-top: 40px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }

  .button100 {
    /* position: absolute; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 14pt;
    white-space: nowrap;
    text-align: center;
    font-family: "Lato", sans-serif;
    height: 50px;
    margin-left: 43%;
    margin-right: 43%;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 200px;
    background: #1b1e2e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .button101 {
      padding-left: 40px;
      text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-gap: 0px;
  }

  .profileprofile_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 25pt;
    color: black;
    text-align: center;
    margin-top: 70px;
    margin-left: 150px;
}

.backspace{
    font-size: 40px;
    color: lightgray;
    position:absolute;
    top:100px;
    left:150px;
}
