.quiz-content {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
}

ul .answer {
  background-color: white;
  color: black;
}

button .answer {
  background-color: white;
  color: black;
}

button .importance_check {
  box-shadow: 2;
}

.buttonDone{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 17pt;
  white-space: nowrap;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 200px;
  height: 50px;
  background: #1b1e2e;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 auto;
}

#quiz-content {
  background-color: white;
  color: black;
}

.quiz_question_table {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
