.quiz-content {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
}

ul .answer {
  background-color: white;
  color: black;
}

button .answer {
  background-color: white;
  color: black;
}

button .importance_check {
  box-shadow: 2;
}

#quiz-content {
  background-color: white;
  color: black;
}
