ul .question {
  background-color: var(--color-light-grey);
  color: black;
}

ul .answer {
  background-color: white;
  color: black;
}

button .answer {
  background-color: white;
  color: black;
}

button .importance_check {
  box-shadow: 2;
}

#quiz-content {
  background-color: white;
  color: black;
}
