ul#course-list {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-black);
  list-style-type: none;
  padding: 0 var(--padding-large) 0 var(--padding-large);
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: var(--font-second);
}

li.course {
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  float: none;
  margin: var(--margin);
  border: var(--border-width);
  border-style: solid;
  padding: 30px var(--padding-medium);
  height: 100px;
  font-size: var(--font-medium);
}

li.coursedescription {
  float: left;
}

div.courseprof {
  font-size: var(--font-small);
}

button.join_quiz {
  background-color: white;
  float: right;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-color: var(--color-black);
  padding: var(--padding-small) var(--padding-medium) var(--padding-small)
    var(--padding-medium);
  font-size: var(--font-micro);
}
